<div>
    <div class="btn-group" dropdown is-open="status.isLeftOpen">
        <button type="button" dropdown-toggle class="btn btn-primary">
            Left
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="degrees in [30,45,60,90,120,135,150]">
                <div ng-click="addLeft(degrees)">{{degrees}}</div>
            </li>
        </ul>
    </div>
    <div class="btn-group" dropdown is-open="status.isMoveOpen">
        <button type="button" dropdown-toggle class="btn btn-primary">
            Move
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="distance in [50,100,150,200,250,300]">
                <div ng-click="addMove(distance)">{{distance}}</div>
            </li>
        </ul>
    </div>
    <div class="btn-group" dropdown is-open="status.isRightOpen">
        <button type="button" dropdown-toggle class="btn btn-primary">
            Right
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="degrees in [30,45,60,90,120,135,150]">
                <div ng-click="addRight(degrees)">{{degrees}}</div>
            </li>
        </ul>
    </div>
    <button class="btn btn-primary add-command" ng-click="clearCanvas()">CLEAR</button>
</div>
