<div ng-controller="CommandPickerController">
    <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button"  dropdown-toggle class="btn btn-primary">
           Move
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">100</a></li>
            <li><a href="#">200</a></li>
            <li><a href="#">300</a></li>
            <li><a href="#">400</a></li>
            <li><a href="#">500</a></li>
        </ul>
    </div>
    <button class="btn-lg add-command" ng-click="clearCanvas()">CLEAR</button>
    <button class="btn-lg add-command" ng-click="addLeft(90)"><--</button>
    <button class="btn-lg add-command" ng-click="addMove(100)">&#8593;</button>
    <button class="btn-lg add-command" ng-click="addRight(90)">--></button>
</div>
