<button class="btn-lg command">
    {{command.name}}
    <span ng-switch="command.name">
        <span ng-switch-when="move">
            <input class="command-param" type="text" ng-model="command.distance">
        </span>
        <span ng-switch-when="left">
            <input class="command-param" type="text" ng-model="command.degrees">
        </span>
        <span ng-switch-when="right">
            <input class="command-param" type="text" ng-model="command.degrees">
        </span>
    </span>
</button>