.turtleCanvas {
  position: absolute;
  z-index: 1;
}

#canvasContainer {
  width: 600px;
  height: 600px;
  background-color: beige;
  border: 3px solid red;
  position: relative;
  margin: 0 auto;
  float: right;
}



.command-param {
  width: 50px;
}

.command {
  width: 250px;
}

.controls {
  float: left;
}

.commandList ul {
  list-style-type: none;
}

#turtleSprite {
  position: absolute;
  margin: 0 auto;
  z-index: 2;
  width: 50px;
  height: 30px;
  background: red;
  top: 300px;
  left: 275px;
  .rotate(180deg);
}